@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About";
}

@section Styles{
    <link rel="stylesheet" href="~/Content/Home/About.css" />

}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header row">

                </div>
                <div class="card-body row">

                </div>
                @Html.Partial("_Footer")
            </div>
        </div>
    </div>
</div>