################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
Booktopia/App_Data/*
.vscode
packages/
**/*.sln
